<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.achuan.blestudy">

    <!--添加权限-->
    <!--普通权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--危险权限(需要运行时申请)-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <!--<uses-feature android:name="android.hardware.location.gps" />-->

    <!--低功耗蓝牙要声明特征，或者代码判断-->
    //如果为true表示只能在支持低功耗蓝牙的设备上使用，如果不支持的设备也可以使用，采用代码判断
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>



    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--注册activity-->
        <activity android:name=".ui.main.activity.ServiceActivity"></activity>

        <activity android:name=".ui.main.activity.DeviceScanActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--注册服务service-->
        <service android:name=".service.BleService"></service>

    </application>



</manifest>